<template>
  <v-container>
    <v-row class="align-self-center">
      <v-col cols="8">
        <h2 class="ma4">Generalities</h2>
      </v-col>
      <v-col cols="4" class="text-right">
        <div v-if="isEditMode">
          <v-btn color="primary" @click="resetForm" class="mx-1">Reset</v-btn>
          <v-btn color="primary" :disabled="!isFormValid" @click="submitForm" class="mx-1">Save Step</v-btn>
        </div>
        <v-btn v-else color="primary" @click="enableEditMode">Edit</v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="4">
        <v-text-field label="Cycle Date" outlined v-model="formData.date" :rules="[rules.required]" clearable></v-text-field>
      </v-col>
      <v-col cols="4">
        <v-text-field label="Cycle Time" outlined v-model="formData.hour" :rules="[rules.required]" clearable></v-text-field>
      </v-col>
      <v-col cols="4">
        <v-text-field label="Progressive Cycle Number" outlined v-model="formData.cy" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3">
        <v-select label="Shaft 1 Aspect Code" :items="aspectCodes" item-title="title" item-value="value" outlined v-model="formData.s1AspectCode" :rules="[rules.required]" clearable></v-select>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 1 Small Unburned" outlined v-model="formData.s1SmallUn" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 1 Medium Unburned" outlined v-model="formData.s1MedUn" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 1 Big Unburned" outlined v-model="formData.s1BigUn" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3">
        <v-text-field label="Shaft 1 - Residue CO2 (%)" outlined v-model="formData.s1CO2Res" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 1 - LOI (%)" outlined v-model="formData.s1LOI" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 1 - Available CO2 (%)" outlined v-model="formData.s1CO2A" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 1 - Mechanical Degradation (%)" outlined v-model="formData.s1MechDeg" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3">
        <v-text-field label="Shaft 1 - Reactivity T40 (min)" outlined v-model="formData.s1T40M" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 1 - Reactivity T40 (sec)" outlined v-model="formData.s1T40S" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 1 - Reactivity T60 (min)" outlined v-model="formData.s1T60M" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 1 - Reactivity T60 (sec)" outlined v-model="formData.s1T60S" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3">
        <v-select label="Shaft 2 Aspect Code" :items="aspectCodes" item-title="title" item-value="value" outlined v-model="formData.s2AspectCode" :rules="[rules.required]" clearable></v-select>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 2 Small Unburned" outlined v-model="formData.s2SmallUn" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 2 Medium Unburned" outlined v-model="formData.s2MedUn" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 2 Big Unburned" outlined v-model="formData.s2BigUn" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3">
        <v-text-field label="Shaft 2 - Residue CO2 (%)" outlined v-model="formData.s2CO2Res" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 2 - LOI (%)" outlined v-model="formData.s2LOI" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 2 - Available CO2 (%)" outlined v-model="formData.s2CO2A" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 2 - Mechanical Degradation (%)" outlined v-model="formData.s2MechDeg" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3">
        <v-text-field label="Shaft 2 - Reactivity T40 (min)" outlined v-model="formData.s2T40M" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 2 - Reactivity T40 (sec)" outlined v-model="formData.s2T40S" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 2 - Reactivity T60 (min)" outlined v-model="formData.s2T60M" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field label="Shaft 2 - Reactivity T60 (sec)" outlined v-model="formData.s2T60S" :rules="[rules.required, rules.numeric]" clearable></v-text-field>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      isEditMode: true,
      formData: {
        date: null,
        hour: null,
        cy: null,
        s1AspectCode: null,
        s1SmallUn: null,
        s1MedUn: null,
        s1BigUn: null,
        s2AspectCode: null,
        s2SmallUn: null,
        s2MedUn: null,
        s2BigUn: null,

        s1CO2Res: null,
        s1LOI: null,
        s1CO2A: null,
        s1MechDeg: null,
        s1T40M: null,
        s1T40S: null,
        s1T60M: null,
        s1T60S: null,

        s2CO2Res: null,
        s2LOI: null,
        s2CO2A: null,
        s2MechDeg: null,
        s2T40M: null,
        s2T40S: null,
        s2T60M: null,
        s2T60S: null,

      },
      aspectCodes: [
        { title: "Quite White", value: 2 },
        { title: "Good", value: 3 },
        { title: "Overburned", value: 4 },
        { title: "Sticky", value: 5 },
      ],
      rules: {
        required: (value) => !!value || "This field is required",
        numeric: (value) => !value || !isNaN(value) || "This field must be numeric",
      },
    };
  },
  computed: {
    isFormValid() {
      return Object.values(this.formData).every((value) => value !== null);
    },
  },
  watch: {
    msg: {
      handler(newValue) {
        if (newValue.reset && newValue.reset === true) {
          this.resetForm();
        }
      },
      deep: true,
    },
  },
  methods: {
    submitForm() {
      if (this.isFormValid) {
        this.send({
          topic: "quicklime_generalities",
          payload: this.formData,
        });
        this.isEditMode = false;
      } else {
        console.error("Form is invalid!");
      }
    },
    enableEditMode() {
      this.isEditMode = true;
    },
    resetForm() {
      Object.keys(this.formData).forEach((key) => {
        this.formData[key] = null;
      });
    },
  },
};
</script>

<style scoped>
h2 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 20px;
}
</style>
